<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="userCart.js"></script>
</head>
<body>
    <div id="header">
        <div id="banner">
            <h1>The sweet shopping site</h1>
            <span>
                <a id="cart" href="/usercart">
                    <img src="img/shopping_cart.png">
                    <p>Cart:</p>
                </a>
            </span>
        </div>

        <div class="container">
            <ul id="nav">
                <li><a id="home" href="/"><h2>Home</h2></a></li>
                <li><a id="shop" href="/shop"><h2>Shop</h2></a></li>
                <li><a id="about_us" href="#"><h2>About Us</h2></a></li>
                <% if (login) { %>
                <li><a id="logout" href="/logout" ><h2>Log out</h2></a></li>
                <% } else { %> 
                <li><a id="login" href="/login" ><h2>Log In</h2></a></li>
                <li><a id="register" href="/register"><h2>Register</h2></a></li>
                <% } %>
                <li id="search" class="right">
                    <form>
                        <a>Search</a>
                        <input type="text" name="Search" placeholder="Search here..."/>
                    </form>
                </li>

            </ul>
        </div>
    </div>

    <% for(var i=0; i < products.length; i++) { %>
        <br>
        <li class="products_list" id="<%- products[i].product_id -%>">
            <img src="<%- products[i].picture_dir -%>" alt="<%- products[i].product_name -%>">
            <span class="products_des">
                <h2><%- products[i].product_name -%></h2>
                <p>&#36; <%- products[i].price -%></p>
                <p><%- products[i].product_des -%></p>
                <p>&#36; <%- products[i].price -%></p>
                <p>product id: <%- products[i].product_id -%></p>
            </span>
            <br>
            <span class="add_cart">
                <% if(login) {%>
                    <button class="product_button" name="addToCart">Add to cart</button>
                <% } %>
            </span>

        </li>
    <% } %>
    
</body>
